# Gradle
.gradle/
build/
out/
classes/

# Loom / run directories (logs/ is written by the Fabric JUnit runner)
run/
logs/
remappedSrc/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
bin/

# OS
.DS_Store
Thumbs.db
